
.splash .page-header-content {
  margin-right: 30px; /* Optional: Adds some space between the text and the edge */
}

.footer-links .fa-rss {
    display: none;
}

.map-container {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 aspect ratio */
  height: 0;
  overflow: hidden;
  max-width: 100%; /* Ensures the container doesn't exceed the screen width */
}

.map-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}
